/*phần sline 3 ảnh */
    .panel-banner{ 
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .container{  
        padding: 10px;
        height: fit-content;
    }
    .container-mini{      
        padding:10px; 
        margin-left: 50px; 
        margin-right: 50px;
    }
    .uk-slideshow-items{
        width: 100%;
    height: 400px;
    }
 .uk-slideshow-items img {
    width: 100%;
    height: 100%;
    object-fit:fill; /* Đảm bảo ảnh phủ đầy khung mà không bị méo */
    }

 /* Các cam kết :vận chuyển ,trả hàng , thanh toán , hỗ trợ   */
    .panel-commit {padding: 2px 100px 2px 100px; }
    .uk-child-width-1-4 > .commit{
        display: flex; align-items: center;}
    .fas, .fab{
        color:#DC143C;
        padding-top: 15px;
        font-size:30px;}
    .icon-text{
        color: black;
        margin-left: 5px;
        width: max-content;
    }
/*---------------------------------------------------------*/

.t28 {
    font-family: Nunito, sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #472f2f;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 100px;
    background-color: #e9e9e9;

}

   /* danh muc noi */
    .panel-Categories,.panel-baner2{padding: 10px 70px;}
    .Categories {
    font-size: 15px;
    display: flex;}
    .Categories-image{
        width: 200px;
        height: 100px; 
        margin-right: 10px;}
        .Categories ul {
            list-style-type: none;
            text-align: left;}
    a{color: black;
        text-decoration: none;}
    a:hover { color:red;
            text-decoration: none;}
/*---------------------------------------------------------*/
.panel-baner2{padding: 20px 80px 5px;}
.uk-inline-clip {
    position: relative; /* Để các hình ảnh có thể xếp chồng lên nhau */
    overflow: hidden; /* Ẩn bất kỳ phần nào của hình ảnh tràn ra ngoài */
}
.banner2-image {width:650px;height: 350px;}
/*---------------------------------------------------------*/
.uk-inline-clip, .uk-transition-toggle img{width: 100%;height: 100%;}
/*sản phâm */
.uk-section{
    padding-top: 2px;
}
.pannel-product-container{
    margin: 2px 50px ;
}
.pannel-product-container h3, .price-sale {
    font-family:'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.uk-card-body{
    padding: 2px;
    text-align: center;
}
.product-image{
    width:200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;}
h3{background-color: #3dc2f2; margin: 15px;}
.uk-grid{margin-left: 0;}
.uk-card {padding-left: 0;} 

.product-review{
    color:#B22222;
    margin: 4px 0 8px 0;
}
.product-name h2{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom:4px ;
}
.product-price {color: #DC143C; }
.price-sale{font-size :22px;}
.black{color:black;}
.color-2{color:#800080;}
.status{display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-size: 10px;}
